* {
	margin: 0;
	padding: 0;
}
.navbar {
	border:0;
	margin-bottom: 0;
	background-color: #fff;
}

.logo {
	margin-bottom: 15px;
}

.logo img {
	width: 120px;
}

@media (min-width: 992px) {
 .col-md-3 {
    width: 5%;
}
}

@media (min-width: 992px) {
.col-md-8 {
    width: auto;
	}
}


.navbar-collapse.collapse {
	margin-top: 20px;
	margin-left: 110px;
}

.nav.navbar-nav li p.libraryName {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-right: 30px;
	margin-bottom: 15px;
	margin-top: 0px;
}

.nav.navbar-nav li p.libraryAdress{
	font-size: 1.2em;
	border: 2px solid #002561;
	background: #e5e9ef;
	padding: 10px 20px;
	font-style: italic;
	font-family: 'EB Garamond', serif;
	/*width: 90%;*/
}

.nav.navbar-nav li p.libraryAdress span{
	font-weight: bold;
	font-style: normal;
	float: right;
}

.nav>li>a {
	padding: 0;
}

.nav.navbar-nav li input{
	margin-bottom: 3px;
	padding: 7px 10px;
	outline-color: #002561;
	border-radius: 5px;
	border: 1px solid #002561;
	background: #e5e9ef;
}

.nav.navbar-nav li input[type="text"] {
	margin-top: 5px;
}

.navbar-collapse {
	padding-right: 0;
}

.nav.navbar-nav li a{
	width: 65px;
	text-align: center;
	padding: 5px 10px;
	border:1px solid #002561;
	border-radius: 5px;
	color:#002561;
	font-size: 1.1em;
	margin-left: 60px;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

.nav.navbar-nav li a:hover {
	background: #002561;
	border:1px solid #002561;
	color:#fff;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

div.banner {
	display: flex;
	align-items: center;
	background: url('../images/banner.jpg') no-repeat center/cover;
	height: 70vh;
	text-align: center;
}

ul.menuBar {
	display: flex;
	margin-top: 20px;
	padding:15px 0;
	justify-content: center;
	flex-wrap: nowrap;
	background: #002561;
	margin-bottom: 0;
}

ul.menuBar a {
	text-decoration: none;
	padding: 17px 20px;
	color:#fff;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
    font-family: 'Roboto', sans-serif;
	
}

ul.menuBar a:hover {
	background-color: #5674A5;
	color:#ccd3df;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

div.banner a.deepSearchButton {
	color: #ccd3df;
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	font-weight: bold;

}

div.banner a.searchButton {
	background: #e5e9ef;
	border:1px solid #e5e9ef;
	border-radius: 5px;
	text-decoration: none;
	color:#043948;
	padding: 7px 15px;
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
    margin-left:10px;
	/*font-weight: bold;*/
}

div.banner a.searchButton:hover {
	background: #002561;
	border:1px solid #002561;
	color:#fff;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

div.banner div#search {
	display: block;
	width: 70%;
	margin:0 auto 10px;
	position: relative;
}

div.banner input {
	width: 70%;
	padding: 10px;
	border-radius: 5px;
	border:1px solid #002561;
	background: url("../images/search.png") no-repeat #fff;
	background-size: 18px;
	background-position: 95% 50%;
	outline: 0;
}

div.banner a.catalog {
	position: absolute;
	top:-32px;
	left:70px;
	background: #fff;
	padding: 5px 7px;
	border:1px solid #002561;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

div.banner a.site {
	position: absolute;
	top:-32px;
	left:134px;
	background: #fff;
	padding: 5px 7px;
	border:1px solid #002561;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

div.banner a.catalog:hover, div.banner a.site:hover{
	background: #002561;
	border:1px solid #002561;
	color:#fff;
}

div.news {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

li.ourNew:nth-child(odd) {
	margin-left: 0;
}

li.ourNew {
	display: inline-block;
	margin-bottom: 30px; 
	/*justify-content: center;
	flex-wrap: nowrap;*/
	margin-left: 30px;
}

li.ourNew img {
	width: 400px;
	height: 300px;
}

li.ourNew h2 {
	margin-top: 0;
	background: #002561;
	color: #fff;
	font-size: 1.5em;
	padding: 10px;
	width: 400px;
}

li.ourNew a {
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

li.ourNew a:hover h2,li.ourNew a:hover{
	opacity: 0.7;
	-webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}

div.news a.showAllNews {
	font-size: 1.4em;
}

footer p{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 10px;
	color:#fff;
	background-color: #002561;
	margin-bottom: 0;
	margin-top: 30px;
	padding: 15px 0;
}

